 <body style="background-color:powderblue; text-align: center;">
 <h1 style = "color:crimson"> Welcome to Rock paper Scissors </h2>
 </body>

<div>
  <img src='https://s3-eu-west-1.amazonaws.com/wia-flarum-bucket/2018-07-04/1530701878-372923-blog-05.png'>
 </div>
 