<body style="background-color:powderblue; text-align: center;">
<form action ="/name" method="post">
  <h1 style = "color:crimson; font-family: Arial;"> Welcome to Rock paper Scissors </h2>
  <h1 style = "color:crimson; font-family: Courier New;"> Please enter your name </h2>
  <input type="submit" value="Player name">
  <input type="text" name="name">
</form>
</body>